<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a17823.getservicedemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.Activity.LoginActivity"/>
        <activity android:name=".ui.Activity.RegisterActivity"/>
        <activity android:name=".ui.Activity.SearchBookActivity"/>
        <activity android:name=".ui.Activity.TypeSearchActivity"/>
        <activity android:name=".ui.Activity.UserWriterActivity"/>
        <activity android:name=".ui.Activity.UserReadActivity"/>
        <activity android:name=".ui.Activity.UserHelpActivity"/>
        <activity android:name=".ui.Activity.UserAboutActivity"/>
        <activity android:name=".ui.Activity.ReadActivity"/>
        <activity android:name=".ui.Activity.WebViewActivity"/>
        <activity android:name=".ui.Activity.UserPageActivity"/>
        <activity android:name=".ui.Activity.Read"/>
    </application>

</manifest>